<div class="footer">
	<div class="fg-light-gray al-center">
		Simple light-weight file sharing app with secure token protection.<br/>
		Powered by Python
	</div>
</div>
<div class="footer">
	<div><a href="https://pypi.org/project/sharefile-webui/">PyPi</a></div>
	<div><a href="https://gitlab.com/alda78/sharefile-webui">GitLab</a></div>
</div>