<meta charset="UTF-8">
<meta content="width=device-width, height=device-height, initial-scale=1, minimal-ui" name="viewport" />
<title>Share File WEB UI v{{ data.version }}</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='img/share.png')}}" />
<link href="{{ url_for('static', filename='css/app.css')}}?v={{data.version}}" rel="stylesheet" type="text/css" />
{% block header_add %}
{% endblock %}