<!DOCTYPE html>
<html lang="en">
<head>
	{% include "_header.inc.html" %}
</head>
<body>
	<div class="app">
		<h1>Share File WEB UI <span class="version">v{{data.version}}</span></h1>
		<div id="sharefile-container">
			<div>Click to download</div>
			<div><a href="/{{ data.shared_file_url }}">{{ data.shared_file_title }}</a></div>
		</div>

		<div class="distance-100"></div>
		{% include "_footer.inc.html" %}
	</div>
</body>
</html>
