<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="width=device-width, height=device-height, initial-scale=1, minimal-ui" name="viewport" />
	<title>Share File WEB UI v{{ data.version }}</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='img/share.png')}}" />
	<script type="application/javascript" src="{{ url_for('static', filename='js/app.js')}}?v={{data.version}}"></script>
</head>
<body>
	<div class="app">
		<h1>Share File WEB UI <span class="user">({{ data.user }})</span> <span class="version">v{{data.version}}</span></h1>
		<div id="sharedir-container">
			
		</div>
	</div>
</body>
</html>
